*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 850px;
}

header{
    position: relative;
    background-color: royalblue;
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 6rem;
    
}

#logo{
    height: 3rem;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

main{
    padding: 5px;
}

.images{

}

.tim{
    height: 300px;
}

.grey{
    color: grey;
}

.top{
    font-size: 1rem;
}

.bottom{
    font-size: 0.8rem;
}
.booleaner{
    color: royalblue;
}

span{
    background-color: yellow;
}

thead{
    background-color: royalblue;
}

footer{
    padding: 5px;
}

.suggestion{
    background-size: cover;
    width: 250px;
    height: 150px;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}
#graph{
    background-image: url(../img/graph.jpg);
}